<section class="flowing_wrapper">
<!-- 横スクロール + 画像切り替えアニメーション コンポーネント -->
<div class="flowing">
  <div class="flowing__track">
    <!-- セット1 -->
    <div class="flowing__item flowing__item--logo">
      <img src="{{assetBase}}img/footer_mark1.svg" alt="" class="flowing__logo-img">
    </div>
    <div class="flowing__item flowing__item--slider js-flowing-slider">
      <div class="flowing__slider-slide js-flowing-slide is-active">
        <img src="{{assetBase}}img/flowing_photo_1.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_2.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_3.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_4.png" alt="" loading="lazy">
      </div>
    </div>
    <div class="flowing__item flowing__item--deco">
      <img src="{{assetBase}}img/footer_deco1.svg" alt="" class="flowing__deco-img">
    </div>

    <div class="flowing__item flowing__item--logo">
      <img src="{{assetBase}}img/footer_mark2.svg" alt="" class="flowing__logo-img">
    </div>
    <div class="flowing__item flowing__item--slider js-flowing-slider">
      <div class="flowing__slider-slide js-flowing-slide is-active">
        <img src="{{assetBase}}img/flowing_photo_3.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_4.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_1.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_2.png" alt="" loading="lazy">
      </div>
    </div>
    <div class="flowing__item flowing__item--deco">
      <img src="{{assetBase}}img/footer_deco2.svg" alt="" class="flowing__deco-img">
    </div>

    <div class="flowing__item flowing__item--logo">
      <img src="{{assetBase}}img/footer_mark1.svg" alt="" class="flowing__logo-img">
    </div>
    <div class="flowing__item flowing__item--slider js-flowing-slider">
      <div class="flowing__slider-slide js-flowing-slide is-active">
        <img src="{{assetBase}}img/flowing_photo_2.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_1.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_4.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_3.png" alt="" loading="lazy">
      </div>
    </div>
    <div class="flowing__item flowing__item--deco">
      <img src="{{assetBase}}img/footer_deco1.svg" alt="" class="flowing__deco-img">
    </div>

    <!-- セット2（ループ用の複製） -->
    <div class="flowing__item flowing__item--logo">
      <img src="{{assetBase}}img/footer_mark2.svg" alt="" class="flowing__logo-img">
    </div>
    <div class="flowing__item flowing__item--slider js-flowing-slider">
      <div class="flowing__slider-slide js-flowing-slide is-active">
        <img src="{{assetBase}}img/flowing_photo_4.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_3.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_2.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_1.png" alt="" loading="lazy">
      </div>
    </div>
    <div class="flowing__item flowing__item--deco">
      <img src="{{assetBase}}img/footer_deco2.svg" alt="" class="flowing__deco-img">
    </div>

    <div class="flowing__item flowing__item--logo">
      <img src="{{assetBase}}img/footer_mark1.svg" alt="" class="flowing__logo-img">
    </div>
    <div class="flowing__item flowing__item--slider js-flowing-slider">
      <div class="flowing__slider-slide js-flowing-slide is-active">
        <img src="{{assetBase}}img/flowing_photo_1.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_2.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_3.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_4.png" alt="" loading="lazy">
      </div>
    </div>
    <div class="flowing__item flowing__item--deco">
      <img src="{{assetBase}}img/footer_deco1.svg" alt="" class="flowing__deco-img">
    </div>

    <div class="flowing__item flowing__item--logo">
      <img src="{{assetBase}}img/footer_mark2.svg" alt="" class="flowing__logo-img">
    </div>
    <div class="flowing__item flowing__item--slider js-flowing-slider">
      <div class="flowing__slider-slide js-flowing-slide is-active">
        <img src="{{assetBase}}img/flowing_photo_3.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_4.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_1.png" alt="" loading="lazy">
      </div>
      <div class="flowing__slider-slide js-flowing-slide">
        <img src="{{assetBase}}img/flowing_photo_2.png" alt="" loading="lazy">
      </div>
    </div>
    <div class="flowing__item flowing__item--deco">
      <img src="{{assetBase}}img/footer_deco2.svg" alt="" class="flowing__deco-img">
    </div>
  </div>
</div>
</section>
