<li class="informationItem">
  <a href="{{#if href}}{{href}}{{else}}./information_detail.html{{/if}}" class="informationItem__link">
    <time class="informationItem__date" datetime="{{dateTime}}">{{date}}</time>
    <span class="informationItem__category">{{category}}</span>
    <span class="informationItem__title">{{title}}</span>
    <span class="informationItem__arrow" aria-hidden="true">
      <img src="./img/information_chevron_pc.svg" alt="" width="18" height="10" decoding="async">
    </span>
  </a>
</li>
