<div id="pageLoading" class="pageLoading js-page-loading" role="dialog" aria-modal="true" aria-label="読み込み中"
  aria-hidden="false">
  <div class="pageLoading__stage">
    <div class="pageLoading__logo">
      <img class="pageLoading__logoIcon" src="./img/loading/loading_icon.svg" alt="" width="245" height="262"
        decoding="async">
      <img class="pageLoading__logoText" src="./img/loading/loading_text.svg" alt="" width="232" height="188"
        decoding="async">
    </div>
  </div>
  <div class="pageLoading__curtain js-page-loading-curtain" aria-hidden="true"></div>
</div>

<button type="button" class="pageLoading__devToggle js-loading-dev-toggle" hidden>
  Loading: <span class="js-loading-dev-toggle-label">ON</span>
</button>
